{% extends 'maszyny/base.html' %}

{% block title %}O nas - Wypożyczalnia Maszyn{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h1 class="text-center mb-5 display-4 fw-bold">O nas</h1>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center mb-4">Największa wypożyczalnia maszyn i narzędzi w powiecie węgrowskim</h2>
                            
                            <p>
                                Wypożyczalnia maszyn i narzędzi oferuje wysokiej jakości sprzęt budowlany oraz ogrodniczy. Wychodzimy naprzeciw oczekiwaniom i słuchamy potrzeb naszych Klientów, aby poszerzać asortyment o pozycje szczególnie dla Was ważne. Wspieramy w naszym regionie Rodzinne Ogrody Działkowe, lokalnych inwestorów budowlanych oraz prywatnych klientów, którzy szukają sprzętu mogącego wspomóc prace zarówno na budowie, jak i w ogrodzie. Oferowane przez nas maszyny są zawsze perfekcyjnie przygotowane do kolejnych wyzwań. Zapraszamy serdecznie do sprawdzenia ich możliwości!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 